/********************************* NATIVE ELS & GENERAL STYLES *********************************/

html, body {
  color: #576574;
  font-size: 14px;
  margin: 0;
  font-family: 'Josefin Slab', serif;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
}

body.modal-active::after {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  color: #576574;
  text-decoration: none;
}

a:focus {
  /* outline: none !important; */
}

form {
  background-color: rgba(255, 255, 255, .7);
  margin-bottom: 25px;
  padding: 25px;
  width: 600px;
  margin: 40px auto;
}

input[type="text"], input[type="number"], textarea {
  width: 100%;
}

input:focus {
  /* outline: none!important; */
}

button {
  background-color: #333333;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 15px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 45px 0;
}

h4 {
  font-size: 40px;
  text-align: center;
}

.description-text {
  max-width: 500px;
}

.content {
  flex: 1 0 auto;
}

/********************************* HEADER *********************************/

.header {
  background-color: #333333;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
}

.close {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close.active {
  opacity: 1;
}

.menu {
  display: none;
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #ffcccc;
}

.menu.active {
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.cake-review {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

/********************************* FOOTER *********************************/

.footer {
  background-color: #ffcccc;
  padding: 20px 0;
  text-align: center;
  height: 50px;
  flex-shrink: 0;
}

/********************************* LANDING PAGE *********************************/

.medium-image-text img {
  width: 400px;
}

/********************************* ORDER PAGE *********************************/

.order {
  background-image: url('./images/cupcakes.jpeg');
  background-size: 15%;
}

.modal {
  background-color: #ffffff;
  display: none;
  position: absolute;
  max-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 50px;
  z-index: 2;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal.active {
  display: block;
}

/********************************* GALLERY PAGE *********************************/

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
   flex: 1 0 21%;
   max-width: 25%;
   position: relative;
}

.gallery-item img {
  min-width: 300px;
  width: 100%;
}

.gallery-btn {
  position: absolute;
  background-color: #ffcccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.gallery-item:hover .gallery-btn {
  opacity: .5;
}

.gallery-item:hover .gallery-btn:hover {
  opacity: 1;
}

/********************************* HELPERS *********************************/

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.half {
  width: 50%;
  text-align: center;
}

.green {
  color: #27ae60;
}

.medium-image {
  border: dotted 20px #ffcccc;
  display: block;
  width: 600px;
}

.subtext {
  color: #95a5a6;
  font-size: 10px;
}

.margin-top--small {
  margin-top: 15px;
}